.combi{
    margin: auto;
    width: 548.15px;
}
.all{
    background: #FFF7ED;
    width: 548.15px;
    padding-left: 26px;
    padding-right: 25px;
}
.heading{
    width: 548.15px;
    height: 111.62px;
    padding-top: 36px;

}
#vanlife{
    font-family: Inter;
    font-size: 25.35px;
    font-weight: 900;
    line-height: 40.27px;
    text-align: left;
}
#back{
    font-family: Inter;
    font-size: 15.95px;
    font-weight: 500;
    line-height: 22.92px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    
}

#image{
    margin-top: 59px;
    border-radius: 5px;
    height: 490.35px;
    width: 497.32px;
}
#simple{
    margin-top: 51px;
    width: 85.71px;
    height: 33.89px;
    border-radius: 5px;
    border: 1px solid #E17654;
    background: #E17654;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.66px;
    text-align: center;
    color: #FFEAD0;
}
#modest{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 33.65px;
    text-align: left;
}
#pay{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 44.15px;
    text-align: left;
    color: #161616;
}
#day{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 44.15px;
    text-align: left;
    color: #161616;
}
#para{
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    text-align: left;
}
#rent{
    width: 494.33px;
    height: 49.83px;
    border-radius: 5px;
    border: 1px solid #FF8C38;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 31.66px;
    text-align: center;
    background: #FF8C38;
    margin-bottom: 85px;
}
.footer{
    width: 548.15px;
    height: 73.92px;
    background: #252525;
    padding-left: 25px;
    padding-right: 25px;
    padding: auto;
  
}
footer{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.92px;
    text-align: center;  
    color: #AAAAAA;
    width: 335.87px;
    height: 23.92px; 
    margin: auto;
    padding-top: 25.68px;
}
